@model BusBoard.TflBusStopsResponse

@{
    //Layout = null;
    ViewBag.Title = "Next Bus Arrivals";
}

<form action="/buses/arrivals" method="GET">
    <label for="postcode">Postcode:</label>
    <input type="text" id="postcode" name="postcode" placeholder="Type your postcode here" value="@Model.Postcode">
    <input type="submit" value="Submit">
</form>
@if (Model.valid)
{
    @foreach (var busStop in Model.StopPoints)
    {
        <h2>Buses Arriving At @busStop.CommonName:</h2>
        <ol>
            @foreach (var arrival in busStop.Arrivals)
            {
                <li>@arrival.LineId to @arrival.DestinationName arriving in @Math.Ceiling((arrival.ExpectedArrival - DateTime.Now).TotalMinutes) mins</li>   
            }
        </ol>
    }
}

@if (@Model.valid)
{
    <script>
        setInterval(() =>
        {
            window.location.replace("/buses/arrivals?postcode=@Model.Postcode");
        }, 30000);  
    </script>
}
else
{
    <script>
        if ("@Model.Postcode" !== "")
        {
            alert("@Model.Postcode is not a valid postcode please try again");
        }
    </script>
}
